$deadzone-x: 2vw;
$deadzone-y: 2vw;

$color-accent: #d96a2c;
$color-text: #fafaff;

$color-faction-north: #2d5fa3;
$color-faction-south: #b3271f;
$color-sand: #c9a972;

$title-font: "Poppins";
$body-font: "Inter";
$subtitle-font: "Poppins";

@import "/UI/Menu.scss";
@import "/UI/Hud.scss";
